/.bash*
/Download\ metadata.log
/identity.key.enc
/.java/
/jobs/PHP\ project/builds
/jobs/PHP\ project/nextBuildNumber
/.lesshst
/plugins
/secret.key
/secrets
/.ssh
/updates/
/.vim*
/Workspace\ clean-up.log
